<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Cloud Kitchen is an universal food selling website that dilevers food in minutes with lots of love.
        <br/>
        For over a decade now, we’ve been empowering our customers in discovering new tastes and experiences across countries. By putting together meticulous information for our customers, we enable them to make an informed choice.

Affordability
Focusing on affordability
The benefits of providing an interesting choice are embodied by the success. We are leaving no stone unturned when it comes to making food more affordable without compromising on the profitability of a given restaurant.

Accessibility
Boosting accessibility for customers
Our delivery service is reaching more and more cities. We are actively growing our services - table reservation, Cloud Kitchen for Work and are continuing to power Feeding India.

Quality
Improving quality of food
We are committed to nurturing a neutral platform and are helping food establishments maintain high standards through Hyperpure. Food Hygiene Ratings is a coveted mark of quality among our restaurant partners.


    </p>
    - Swati Namdev

</div>